
.sad{
    background-color: rgb(206, 206, 206);
}

.box{
    background-color: rgb(12, 177, 12);
    text-align: center;
}

.fad{
    text-align: center;
    color: white;
}

.gar{
    color: white;
}

.nom{
    width: 30%;
}

.har{
    width: 30%;
    height: 100px;
}

.tugma{
    background-color: green;
    color: white;
    width: 10%;
}

.hor{
    border-radius: 20px;
}

.lox{
    background-color: white;
}

.bor{
    color: black;
   }

   table{
    border-collapse: collapse;
    width: 100%;
   }

   td{
    border: 1px solid black;
   }

   .ur{
    background-color: rgb(230, 230, 230);
   }

   .kal{
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
   }

   .yor{
    width: 100%;
   }
